/* Write your CSS here */
.list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  margin: 0px;
}
.arrow {
  width: 5%;
}
